body {
    font-family: Roboto, sans-serif;
    color: $tertiary-color;
}

h1, h2, h3, h4, h5, h6, p, a, span, b {
    margin: 0;
    padding: 0;
}

.fine-line {
    position: relative;
    text-transform: uppercase;
    padding: 0 0 18px 0;

    &::before {
        content: '';
        position: absolute;
        bottom: 8px;
        left: 0;
        height: 2px;
        max-width: 150px;
        width: 100%;
        background-color: $tertiary-color;
    }
}

h1 {
    @extend .fine-line;
    font-size: 3rem;
}

h2 {
    @extend .fine-line;
    text-align: center;
    font-size: 2.25rem;

    &::before {
        left: 50%;
        transform: translateX(-50%);
    }
}

h3 {
    @extend .fine-line;

    font-size: 1.75rem;
    text-transform: capitalize;
}

p {
    font-size: 1rem;
}

.subtitle {
    font-weight: bold;
    color: $primary-color;

    &.italic {
        font-style: italic;
    }
}

.content {
    line-height: 1.5;
}

@media (max-width: 380px) {
    h1 {
        font-size: 2.375rem;
    }
}
