$primary-color: #00ADC8;
$secondary-color: #212121;
$tertiary-color: #EDEDED;

$card-color: #232323;

$primary-transition: 0.2s;

$primary-zIndex: 50;
$secondary-zIndex: 45;
$tertiary-zIndex: 40;

$primary-boxShadow: 3px 3px 12px 0px rgba(0,0,0,0.16);
