.ts-button {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 12px 14px;
    color: $tertiary-color;
    font-size: 18px;
    border: none;
    text-transform: uppercase;
    margin: 15px 0;
    cursor: pointer;
    user-select: none;

    &:hover {
        color: $tertiary-color;
        text-decoration: none;
    }

    &:focus, &:active {
        border: none;
        outline: none;
        box-shadow: none;
    }

    &:last-child {
        margin-bottom: 0;
    }

    i {
        font-size: 21px;
        color: $tertiary-color;
    }
}

.ts-primary-button {
    @extend .ts-button;
    width: 100%;
    background-color: $primary-color;
    transition: background-color $primary-transition ease-in-out;

    &:hover {
        background-color: rgba($primary-color, .8);
    }
}

.ts-dark-button {
    @extend .ts-button;
    width: 100%;
    background-color: rgba($tertiary-color, 0.1);
    transition: background-color $primary-transition ease-in-out;
    position: relative;

    &:hover {
        background-color: rgba($tertiary-color, 0.15);
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $secondary-color;
        z-index: -1;
    }
}

#scrollToForm {
    @extend .ts-button;
    background-color: $primary-color;
    transition: background-color $primary-transition ease-in-out;
    width: 100%;
    max-width: 320px;
    margin: auto;

    &:hover {
        background-color: rgba($primary-color, .8);
    }
}
