.form-control {
    color: $secondary-color;

    &:focus {
        color: $secondary-color;
        border: 1px solid $primary-color;
        box-shadow: 0 0 0 3px rgba($primary-color, 1);
        outline: 0 none;
    }
}
