.logo {
    color: $tertiary-color;
    font-size: 2.625rem;
    font-weight: bold;


    .logo-domain {
        color: $primary-color;
    }

    &:hover {
        text-decoration: none;
        color: $tertiary-color;
    }
}

@media(max-width: 360px) {
    .logo {
        font-size: 2.375rem;
    }
}
